:root {
    --neutral900: #091540;
    --neutral800: #202535;
    --neutral700: #2F364B;
    --neutral600: #535868;
    --neutral300: #C6C6C6;
    --neutral200: #D6E2F5;
    --neutral100: #EEEEEE;
    --neutral0: #FBFDFE;
    --red400: #F25C54;
    --red500: #DE4840;
    --red700: #C7231A;
    
}